.webcamCapture {
    position: relative;
    display: flex;
    justify-content: center;
}

.preview{
    position: relative;
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}

.canvas{
    position: absolute;
}

.webcamCapture__CaptureButton{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: black;
}

.webcamCapture__CloseButton{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: black;
}